:root {
    --color-primary: #04327a;
    --color-secondary: #fef8f1;
    --color-dark-gray: #343a40;
    --color-gray: #6c757d;
    --color-light-gray: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav, footer {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
}

header {
    background-color: white;
    color: white;
    padding: 20px 0;
}

footer {
    padding: 20px 0;
}

.marquee {
    background-color: var(--color-gray);
    font-size: .7rem;
    color: white;
    padding: 10px 0;
}
/* components */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
    letter-spacing: 8px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    padding: 10px 0;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--color-primary);
    cursor: pointer;
}

.header-nav {
    font-weight: bold;
}

.header-buttons {
    display: flex;
}

.header-buttons button {
    margin-left: 10px;
    padding: 10px;
}

.btn {
    background: none;
    border: 1px solid var(--color-primary);
    letter-spacing: .12em;
    font-weight: bold;
}

.primary {
    background-color: var(--color-primary);
    color: white;
}

.search {
    border: none;
}

.banner {
    background: var(--color-primary);
    color: white;
    text-align: center;
    padding: 80px 0;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    margin: 10px -20px;
}

.content > * {
    flex: 1;
    margin: 20px;
}

.content h1 {
    margin-top: 1em;
    font-size: 2rem;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.gallery img {
    display: block;
    width: 100%;
}

.copyright {
    font-size: .7rem;
}

@media only screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .btn {
        display: none;
    }
    .btn.search {
        display: block;
    }
    .content {
        flex-direction: column;
    }
    footer .nav-links {
        flex-direction: column;
    }

    footer .nav-links li {
        margin-left: 0;
        padding: 4px 0;
    }
}